*.o
*.a

src/choose
src/compile
src/load
src/sysdeps
src/systype
src/makelib
src/socket.lib

src/chpst
src/runit
src/runit-init
src/runsv
src/runsvdir
src/runsvchdir
src/sv
src/svlogd

src/direntry.h
src/hasflock.h
src/hasmkffo.h
src/hassgprm.h
src/hasunshare.h
src/haswaitp.h
src/iopause.h
src/uint64.h
src/select.h
src/reboot_system.h
src/hassgact.h
