usage: svlogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
$Id: 7688490657e7e0645452d7baa7513fa7437c7568 $
usage: svlogd [-tttvL] [-r c] [-R abc] [-l len] [-b buflen] dir ...

111
0
foo
0
foo
bar
baz
0
foo
bar
baz
:oo
:ar
:az
0
